<div class="card">
  <div class="card-header">
    Product List
  </div>

  <div class="card-body">
    <div class="row mb-3">
      <div class="col-2">
        Filter by:
      </div>
      <div class="col-4">
        <input type="text" id="product-filter" class="col-12" placeholder="Product name">
      </div>
    </div>

    <div class="row table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>
            <button *ngIf="shouldShowImage; else hideImgBtn" class="btn btn-primary" (click)="toggleImage()">
              Show Image
            </button>
            <ng-template #hideImgBtn>
              <button class="btn btn-primary" (click)="toggleImage()">Hide Image</button>
            </ng-template>
          </th>
          <th scope="col">Product</th>
          <th scope="col">Code</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">Rating</th>
        </tr>
        </thead>

        <tbody *ngFor="let item of productItems">
        <tr>
          <th scope="row">
            <a *ngIf="shouldShowImage" [routerLink]="['./', item.id]">
              <img class="img-thumbnail" [src]="item.itemImgUrl" [alt]="item.name"/>
            </a>
          </th>
          <td><a [routerLink]="['./', item.id]">{{item.name}}</a></td>
          <td>{{item.code}}</td>
          <td>{{item.releaseDate}}</td>
          <td>{{item.price}}</td>
          <td>
            <product-rating [rating]="item.rating"></product-rating>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
